qdrant-client==1.9.1
pinecone-client==4.1.0
weaviate-client==4.6.4
chromadb==0.5.3
locust==2.29.1
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
scipy==1.13.1
tqdm==4.66.4
pytest==8.2.2
python-dotenv==1.0.1
